*{
    margin: 0;
    padding: 0;
}
/* first section */
.banner{

    margin-top: 50px;
    margin-left: 100px; 
    margin-right: 200px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 1%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    
      
    
}
.banner-1{
    color: #FFF;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
width: 300px;
height: 40px;
align-content: center;

}
.banner-2{
   
    color: #FFF;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
width: 600px;
height: 190px;
align-content: center;

}
/* section section */

.offer-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    
}
.offer-2{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;

font-weight: 700;
margin-bottom: 40px;

}
.offer-3{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;

font-weight: 500;

}
.offer-4{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 40px;

}
.offer-5{
width: 800px;
height: 500px;
align-items: center;
text-align: center;
align-self: center;
margin-left: 400px;
margin-right: 400px;
}






